.burgerMenu {
    height: 24px;
    width: 24px;
    margin: 12px 8px 12px 12px;
    cursor: pointer;
}

.appTitle {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

.rightContainer {
    margin-left: auto;
    display: flex;
    gap: 16px;
    align-items: center;
}

.userMenu {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbarLink {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media screen and (max-width: 770px) {
    .desktopOnlyDisplay {
        display: none;
    }
}
