.order {
    display: flex;
    margin: 12px;
    border-radius: 8px;
    padding-right: 16px;
}

.orderRow {
    margin: 12px;
    border-radius: 8px;
    width: 100%;
}

.orderRowCommandTitle {
    display: flex;
    margin: 12px;
    border-radius: 8px;
    width: 100%;
}

.orderProductItem {
    margin-right: 12px;
}

.products {
    display: flex;
    flex-direction: row;
}
